# .env.docker sample (docker compose run)
# ================================ SECRETS ================================
## get it from secrets: kubectl -n hmpps-prisoner-base-location-dev get secret hmpps-prisoner-base-location-api-client-creds -o json | jq '.data | map_values(@base64d)'
API_CLIENT_ID=
API_CLIENT_SECRET=
