# .env sample (local run)
PRODUCT_ID=DPS037
HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
API_CLIENT_CLIENTS_PRISONEROFFENDERSEARCH_BASE_URL=https://prisoner-search-dev.prison.service.justice.gov.uk

# ================================ SECRETS ================================
## get it from secrets: kubectl -n hmpps-prisoner-base-location-dev get secret hmpps-prisoner-base-location-api-client-creds -o json | jq '.data | map_values(@base64d)'
API_CLIENT_ID=
API_CLIENT_SECRET=
